<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>963925928569-vcm2url115j5dc4b6vphan4vob639qco.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.963925928569-vcm2url115j5dc4b6vphan4vob639qco</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>963925928569-02m4fbhj50j3917rindt0pm3q83ev5h7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBah7m-GLTXaKiK-exgRMrFlv-TwFb47eU</string>
	<key>GCM_SENDER_ID</key>
	<string>963925928569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.examplemakiiaappartists-123</string>
	<key>PROJECT_ID</key>
	<string>makiiaappartists-9418f</string>
	<key>STORAGE_BUCKET</key>
	<string>makiiaappartists-9418f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:963925928569:ios:1a372f1035f00fb41182a8</string>
	<key>DATABASE_URL</key>
	<string>https://makiiaappartists-9418f.firebaseio.com</string>
</dict>
</plist>